*{
	margin: 0 0 0 0;
	padding: 0 5% 0 5%;
	font-family: Verdana;
}
header div img{
	right: 30px;
	height: 160px;
	width: 160px;

}
header div p{
	text-align: center;
}
header div p i{
	padding-right: 4px;
	color: rgba(0,0,0,0.5);
}
header div p.nome{
	font-size: 24px;
	padding-bottom: 10px;
}
section div p.primeira{
	box-shadow: 1px 1px 4px black;
	padding-top:170px;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 10px;
}
section div p.titulos{
	
	box-shadow: 1px 1px 4px black;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 10px;
	padding-top: 10px;
}
footer{
	text-align: center;
}
footer i{
	font-size: 32px;
	padding-left: 0px ;
	padding-right: 0px ;
}
footer a{
	color: rgba(0,0,0,0.5);
	transition: color 1s;
	padding-left: 0px ;
	padding-right: 0px ;
}
footer a:hover{
	color: red;
}